<div class='navbar' data-controller="navbar" data-navbar-target="nav">
  <div class='navbar-logo-nav'>
    <%= image_tag 'streamy-clear.png', alt: 'Streamy logo', class: 'logo' %>
  </div>
  <div class="navbar-login-search">
    <%= link_to 'Login', new_user_session_path %>
  </div>
</div>
