<div class='navbar'>
  <div class='navbar-logo-nav'>
    <%= image_tag 'streamy-2.png', alt: 'Streamy logo', class: 'logo' %>
    <%= link_to 'Movies', movies_path, class: 'nav-btn' %>
    <%= link_to 'Tv Shows', tv_shows_path, class: 'nav-btn' %>
  </div>
</div>
