<h1>Home</h1>



<h2>Popular movies</h2>
<% @popular_movies.each do |movie| %>
  <%= movie.title %>
<% end %>
<h2>Popular tv shows</h2>
<% @popular_tv_shows.each do |show| %>
  <%= show.title %>
<% end %>
