/* Movies and tv shows cards & grid */
.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie-card {
  border-radius: 25px;
  max-width: 200px;
  background-color: #00050d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}


.movie-card > a > img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

.movie-card > h3 > a,
.home-movie-card > h3 > a,
.movie-card > h4 > a,
.home-movie-card > h4 > a,
.movie-card-infos > h4 > a {
  text-decoration: none;
  color: white;
}

/* Homepage cards */
.home-container {
  margin: 10px 30px;
}

.home-movie-card {
  border-radius: 10px;
  max-width: 240px;
  background-color: #00050d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  border: 1px solid white;
}

.home-movie-card > a > img {
  height: 360px;
  width: 240px;
  border-radius: 10px;
}

.movie-card-infos {
  display: none;
  transition: opacity 0.3s ease;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home-movie-card:hover,
.movie-card:hover {
  transform: scale(1.1);
  position: absolute;
}

.home-movie-card:hover .movie-card-infos,
.movie-card:hover .movie-card-infos {
  display: block;
  background-color: #00050d;
  position: relative;
  z-index: 2000 !important;
}

.home-movie-card > a > img:hover,
.movie-card > a > img:hover {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.movie-card-infos p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-top: 10px;
  max-height: 4.5em;
}


.home-play-btn {
  background-color: #393d43ed;
  padding: 15px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  width: 100%;
}

.home-icons-btn {
  background-color: #393d43ed;
  padding: 10px;
  color: white;
  border-radius: 50%;
  font-size: 25px;
  border: none;
  margin: 5px 0;
}

.home-year {
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.more a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 16px;
}

.more > i {
  font-size: 16px;
}
