/* Movies and tv shows cards & grid */
.movies-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.movie-card {
  border-radius: 25px;
  max-width: 200px;
  background-color: #00050d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}


.movie-card > a > img {
  height: 300px;
  width: 200px;
  border-radius: 10px;
}

/* Genre style */

.movie-genre {
  position: relative;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.movie-genre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.movie-genre-infos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding: 10px;
  box-sizing: border-box;
}

.movie-genre:hover img {
  opacity: 0;
}

.movie-genre:hover .movie-genre-infos {
  opacity: 1;
}

.movie-card > h4 > a,
.home-movie-card > h4 > a,
.home-movie-card-infos > h4 > a,
.movie-card-infos > h3 > a,
.movie-genre-infos a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
}

.movie-genre-infos a {
  max-width: 150px;
}

.index-play-btn {
  background-color: #393d43ed;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  width: 100%;
}

.index-icons-btn {
  background-color: #393d43ed;
  padding: 5px;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  border: none;
  margin: 5px 0;
}

.movie-card-infos {
  font-size: 14px;
}

/* Homepage cards */


.home-movie-card {
  border-radius: 10px;
  max-width: 240px;
  background-color: #00050d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
  border: 1px solid white;
}

.home-movie-card > a > img {
  height: 360px;
  width: 240px;
  border-radius: 10px;
}

.movie-card-infos {
  display: none;
  transition: opacity 0.3s ease;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home-movie-card-infos {
  display: none;
  transition: opacity 0.3s ease;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home-movie-card:hover,
.movie-card:hover {
  transform: scale(1.1);
  position: absolute;
  z-index: 2;
}


.home-movie-card:hover .home-movie-card-infos,
.movie-card:hover .movie-card-infos {
  display: block;
  background-color: #00050d;
  position: relative;
  z-index: 2000;
}

.movie-genre:hover .movie-genre > a > img {
  display: none;
}

.movie-genre:hover .movie-card-infos {
  display: block;
  background-color: #00050d;
  position: relative;
  z-index: 2000;
}

.movie-card-infos p,
.home-movie-card-infos p,
.movie-genre-infos p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  margin-top: 10px;
  max-height: 4.5em;
}


.home-play-btn {
  background-color: #393d43ed;
  padding: 15px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  width: 100%;
}

.home-icons-btn {
  background-color: #393d43ed;
  padding: 10px;
  color: white;
  border-radius: 50%;
  font-size: 25px;
  border: none;
  margin: 5px 0;
}

.home-year {
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.more a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 16px;
}

.more > i {
  font-size: 16px;
}
