@media (max-width: 480px) {
  .home-movie-card {
    max-width: 150px
  }

 .home-movie-card > a > img {
    height: 200px;
    width: 150px;
  }
}


@media (min-width: 480px) and (max-width: 768px) {
 .home-movie-card {
    max-width: 200px
  }

 .home-movie-card > a > img {
    height: 320px;
    width: 200px;
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .home-movie-card {
    max-width: 200px;
    margin: 0 10px;
  }

 .home-movie-card > a > img {
    height: 250px;
    width: 164px;
  }

  .movie-card {
    max-width: 160px;
    margin: 0 10px;
  }

  .movie-card > a > img {
    height: 200px;
    width: 160px;
  }
}


@media (min-width: 1200px) {

}
