.navbar {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: sticky;
  top: 0;
  margin: 0 10px;
  padding: 2px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.navbar-logo-nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 80px;
  margin-right: 30px;
}

.nav-btn {
  border-radius: 10px;
  padding: 15px;
  color: white;
  margin: 5px;
  text-decoration: none;
  font-size: 13px;
}

.active {
  background-color: rgb(30, 97, 154);
}

.nav-btn:hover {
  background-color: rgb(45, 135, 213);
}

.nav-icon-book {
  font-weight: lighter;
}

.navbar-login-search i {
  font-size: 16px;
  margin: 5px;
}
