/* .swiper-container {
  position: relative;
} */

.swiper-container-wrapper {
    width: 100%;
    margin-top: 20px;
}

 .swiper-button-prev {
  left: 10px;
  z-index: 2;
}

.swiper-button-next {
  right: 10px;
}

.swiper-slide {
  position: relative;
  z-index: 1;
}

.swiper-container, .swiper-wrapper {
  position: relative;
  overflow: visible;
}
