.tv-show-view {
  height: 30rem;
  padding: 20px;
}

.tv-overview {
  max-width: 600px;
  font-size: 18px;
  font-family: arial;
}

.play-btn {
  background-color: #8080808c;
  padding: 15px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  font-weight: bold;
}

.play-btn:hover, .icons-btn:hover {
  background-color: rgb(16, 59, 97);
  color: black;
}

.icons-btn {
  background-color: #8080808c;
  padding: 10px;
  color: white;
  border-radius: 50%;
  font-size: 25px;
  border: none;
  font-weight: bold;
}

.ms-content {
  margin-top: 100px;
}

.ms-infos, .ms-genres {
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.ms-infos > span {
  margin-right: 10px;
}
